// bootstrap variables and custom overrides (so they can be accessed in each component)

$background: #fdf498;
$primary : #f37736;
$secondary: #7bc043;
$imgarrow: #0392cf;
$pencilcolor: #ee4035;

// @import 'node_modules/bootstrap/scss/variables';