

/* // Your variable overrides
$body-bg: #000;
$body-color: #111; */
@import 'variables.scss';
 

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary
);

// $font-size-base: 1.5rem;
$font-family-sans-serif: "Comic Sans MS", cursive, sans-serif;

$body-bg: $background;
//  $body-color: black;

// custom.scss
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';