

/* // Your variable overrides
$body-bg: #000;
$body-color: #111; */

$primary: $yellow;

// custom.scss
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';